fieldset.env-container .fieldset__wrapper > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

fieldset.env-container .fieldset__wrapper > div > .form-item {
  margin: 0;
}

fieldset.env-container .fieldset__wrapper > div + div {
  margin-top: 1rem;
}

fieldset.env-container .fieldset__wrapper > div > .form-item > input {
  width: 100%;
}
